volumes:
  staticfiles:
  logs:
  media:
  postgres_data:

services:

  django:
    build:
      context: .
    container_name: django
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DJANGO_SUPERUSER_PASSWORD: ${DJANGO_SUPERUSER_PASSWORD}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: db
    volumes:
      - ./:/app
      - staticfiles:/app/staticfiles
      - media:/app/media
      - logs:/app/logs
    command: "bash run_system.sh"

  db:
    image: postgres:latest
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d DepartmentPublications"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: DepartmentPublications
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    container_name: nginx
    working_dir: /app
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
    profiles:
      - full
    volumes:
      - staticfiles:/app/staticfiles
      - media:/app/media
      - ./deploy/nginx/:/etc/nginx/conf.d:ro
    links:
      - django
    depends_on:
      - django