html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

  
.flex-grow-1 {
    flex-grow: 1;
}

footer {
    margin-top: 15px;
}

.icon-button {
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.removeTag {
    cursor: pointer;
}

#subscribeModalButton {
    min-width: 240px;
}

.navigatorCombobox {
    max-width: 600px;
}