<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="static/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link href="static/app/css/main.css" rel="stylesheet" />
      <script src="static/jquery/jquery-3.7.1.min.js"></script>
    <script
      src="static/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <title>
        Публикации кафедр ВолгГТУ
    </title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="navbar navbar-expand-lg" style="background-color: #0b57a3">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Публикации кафедр ВолгГТУ </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNav"
          aria-controls="mainNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="mainNav">
          <a class="link-light me-2" href="/updates">Обновления</a>
        {% if user.is_authenticated %}
          <button id="subscribeModalButton"
            class="btn btn-outline-light me-2 mb-1"
            type="submit"
            data-bs-toggle="modal"
            data-bs-target="#subscribeModal"
          >
            Подписаться на публикации
          </button>
        {% endif %}
          <form class="d-flex navigatorCombobox">
            <select
              class="form-select me-2 mb-1 facultySelect"
              aria-label="Выбор университета"
            >
              <option disabled>Выберите факультет</option>
            </select>
            <select class="form-select me-1 mb-1 departmentSelect" aria-label="Выбор кафедры">
              <option disabled>Выберите кафедру</option>
            </select>
          </form>
            {% if user.is_authenticated %}
              <span class="text text-light me-2 mb-1">
                {{ user.username }}
                </span>
                <a
                class="icon-button me-2"
                data-bs-toggle="modal"
                data-bs-target="#autoUpdateModal"
                ><i class="ri-settings-3-fill"></i
              ></a>
            {% else %}
                <a class="text text-light me-2 mb-1" href="/api/auth/login">Войти как администратор</a>
            {% endif %}
        </div>
      </div>
    </header>

    {% block body_contents %}
    {% endblock %}

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
          <span class="text-muted">Версия 0.2.1+build090624</span>
          <span class="text-muted"> | </span>
        <span class="text-muted text-end">© 2024 Кафедра ПОАС, ВолгГТУ</span>
        <span class="text-muted"> | </span>
        <a href="mailto:dmitriy.shashkov1@yandex.ru" class="text-muted"
          >Сообщить о проблеме</a
        >
          {% if user.is_authenticated %}
          <span class="text-muted"> | </span>
          <a href="/dumpLogs" class="text-muted"
          >Загрузить журнал отладки</a
            >
          {% endif %}
      </div>
    </footer>

    <div
      class="modal fade"
      id="autoUpdateModal"
      tabindex="-1"
      aria-labelledby="autoUpdateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="autoUpdateModalLabel">
              Настройки автообновления системы
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="mb-3">
                    <small>
                        <i>Для отображения изменений в расписании не забудьте обновить страницу</i>
                    <br>
                    <b>Дата следующего обновления: </b> <span> {{ short_autoupdate }}</span>
                    <br>
                    <b>Дата следующего глобального обновления: </b><span>{{ global_autoupdate }}</span>
                    <br>
                    Обратите внимание, что расписание автообновления применится в течение {{ reschedule_minutes }} минут после ручного изменения
                    <br>
                    Сохраненное расписание на данный момент не показывается ниже
                    </small>
                </div>
                <div class="mb-3">
                    <i class="ri-questionnaire-fill"></i>
                    <small>
                        Система использует две модели автообновления - короткая и глобальная.
                    <br>
                        Короткая модель запускается раз в {{ short_batch_hour }} часов и обновляет не более {{ short_batch_count }} новых добавленных авторов
                    <br>
                        Глобальная модель запускается по расписанию, задаваемому ниже, и обновляет всех авторов на всех кафедрах
                    </small>
                    </div>
              <div class="mb-3">
                <label for="updateInterval" class="form-label"
                  >Интервал глобального автообновления</label
                >
                <select class="form-select" name="updateInterval" id="updateInterval">
                  <option value="daily" selected>Раз в день</option>
                  <option value="every_three_days">Раз в три дня</option>
                  <option value="weekly" selected>Раз в неделю</option>
                  <option value="biweekly">Раз в две недели</option>
                  <option value="monthly">Раз в месяц</option>
                </select>
              </div>
                <div class="mb-3">
                <label for="dayOfWeek" class="form-label"
                  >День недели</label
                >
                <select class="form-select" name="dayOfWeek" id="dayOfWeek">
                  <option value="monday">Понедельник</option>
                  <option value="tuesday">Вторник</option>
                  <option value="wednesday">Среда</option>
                  <option value="thursday">Четверг</option>
                  <option value="friday" selected>Пятница</option>
                    <option value="saturday">Суббота</option>
                  <option value="sunday">Воскресенье</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="updateTime" class="form-label"
                  >Время глобального обновления</label
                >
                <input type="time" value="03:00" class="form-control" name="updateTime" id="updateTime" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
               <button type="button" class="updateRequestBtn btn btn-success">Запросить автообновление</button>
            <button type="button" class="rescheduleBtn btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    {% if user.is_authenticated %}
    <div
      class="modal fade"
      id="subscribeModal"
      tabindex="-1"
      aria-labelledby="subscribeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="subscribeModalLabel">
              Подписаться на обновления
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div style="display: none">
              <h5><i class="ri-telegram-fill"></i> Telegram</h5>
              <p>
                Вы можете подписаться на получение публикаций с помощью нашего
                Telegram-бота.
              </p>
              <a class="btn btn-primary" href="#">Перейти</a>
                <hr />
            </div>
            <div>
              <h5><i class="ri-mail-send-line"></i> Электронная почта</h5>
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label"
                    >Введите вашу электронную почту</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="example@example.com"
                  />
                  <div id="emailHelp" class="form-text">
                    Мы будем отправлять вам обновления на указанный адрес
                    электронной почты.
                  </div>
                    <div class="mb-3">
                      <label for="tags" class="form-label">Теги</label>
                      <input
                        type="text"
                        class="form-control form-control-sm tagsAddField"
                        id="tagsFilter"
                        list="tagsList"
                        data-for="emailTagsContainer"
                        placeholder="Добавьте теги, разделяя их нажатием Enter"
                      />
                        <div id="emailTagsContainer" class="tagsContainer mb-3">
                    </div>
                </div>
                <button type="submit" class="btn btn-success subscribeEmail">
                  Подписаться
                </button>
                <div id="emailHelp" class="form-text">
                    Если вы ранее уже подписали эту электронную почту на рассылку, повторное нажатие кнопки "Подписаться" без указания тегов приведет к отмене рассылки
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


    <div
      class="toast-container position-fixed bottom-0 end-0 p-3"
      style="z-index: 10000"
    ></div>

    <datalist id="tagsList"></datalist>
    <datalist id="authorList"></datalist>

    {% block after_footer_contents %}
    {% endblock %}

    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script
      src="static/app/js/main.js?version=2"
    ></script>

  </body>
</html>
