{% extends 'base.html' %}

{% block body_contents %}
<div class="container pt-3 flex-grow-1">
      <div class="row">
        <nav class="col-md-5 col-lg-3 d-md-block bg-light sidebar">
          <div class="position-sticky">
            <form class="d-flex mt-3">
              <input
                class="form-control me-2 searchField"
                type="text"
                placeholder="Поиск"
                aria-label="Поиск"
              />
                {%  if user.is_authenticated %}
              <button
                class="btn btn-primary me-1 ri-add-line"
                data-bs-toggle="modal"
                data-bs-target="#addPersonModal"
                type="button"
              ></button>
                {% endif %}
              <button
                type="button"
                class="btn btn-secondary ri-filter-2-fill"
                id="filterBtn"
                data-bs-toggle="popover"
                data-bs-placement="bottom"
                title="Фильтр"
              ></button>
            </form>
            <h5 class="m-2">Список людей</h5>
            <div class="list-group authorList">

            </div>
          </div>
        </nav>

        <main class="col-md-7 ms-sm-auto col-lg-9 px-md-4 mainView">
            <div class="publView"></div>
        </main>
      </div>
    </div>
{% endblock %}

{% block after_footer_contents %}
    {% if user.is_authenticated %}
<div
      class="modal fade"
      id="addPersonModal"
      tabindex="-1"
      aria-labelledby="addPersonModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addPersonModalLabel">
              Добавить нового человека
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="addFullName" class="form-label">ФИО</label>
                <input
                  type="text"
                  class="form-control"
                  id="addFullName"
                  placeholder="Введите ФИО"
                />
              </div>
              <div class="mb-3">
                <label for="addLastNameInitials" class="form-label"
                  >Фамилия и инициалы</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="addLastNameInitials"
                  placeholder="Введите фамилию и инициалы"
                />
              </div>
              <div class="mb-3">
                <label for="addNewTags" class="form-label">Теги</label>
                <input
                  list="tagsList"
                  id="addNewTags"
                  data-for="addPersonTagsContainer"
                  class="form-control tagsAddField"
                  placeholder="Добавьте теги, разделяя их нажатием Enter"
                />
                <div class="tagsContainer mt-2" id="addPersonTagsContainer">
                </div>
              </div>
              <div class="mb-3">
                <label for="addDepartment" class="form-label">Кафедра</label>
                <select id="addDepartment" name="department" class="form-control">
                        {% for dep in departments %}
                            <option value="{{ dep.id }}">{{ dep.name }}</option>
                        {% endfor %}
                    </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="addPersonBtn" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div id="filterContent" class="d-none">
      <form>
        <div class="mb-3">
          <label for="tags" class="form-label">Теги</label>
          <input
            type="text"
            class="form-control form-control-sm tagsAddField"
            id="tagsFilter"
            list="tagsList"
            data-for="searchFilterTagsContainer"
            placeholder="Добавьте теги, разделяя их нажатием Enter"
          />
            <div id="searchFilterTagsContainer" class="tagsContainer mb-3">
        </div>
        </div>
        <button type="button" class="btn btn-secondary btn-sm" id="resetFilterBtn">
          Сбросить фильтр
        </button>
      </form>
    </div>
    <script>
      var filter = document.getElementById("filterContent").cloneNode(true);
      filter.classList.remove("d-none");
      document.getElementById("filterContent").outerHTML = "";
      var popover = new bootstrap.Popover(
        document.getElementById("filterBtn"),
        {
          content: filter,
          html: true,
        }
      );
    </script>
{% endblock %}