{% extends 'base.html' %}

{% block body_contents %}
    <div class="container pt-3 flex-grow-1">
      <div class="row">
        <nav class="col-md-3 col-lg-4 d-md-block bg-light sidebar">
          <div class="position-sticky">
            <a class="link-underline link-underline-opacity-0" href="/"><i class="ri-arrow-left-s-line"></i> Назад</a>
            <h5 class="card-title">Фильтр</h5>
            <form>
              <div class="row mb-3">
                <div class="col">
                  <label for="dateFrom" class="form-label"
                    >Дата добавления (от)</label
                  >
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    id="dateFrom"
                  />
                </div>
                <div class="col">
                  <label for="dateTo" class="form-label"
                    >Дата добавления (до)</label
                  >
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    id="dateTo"
                  />
                </div>
              </div>
              <div class="mb-3 form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="attachedToDepartment"
                />
                <label class="form-check-label" for="attachedToDepartment"
                  >В библиотеке привязан к кафедре</label
                >
              </div>
              <div class="mb-3">
                <label for="tags" class="form-label">Теги</label>
                <input
                  type="text"
                  class="form-control form-control-sm tagsAddField"
                  id="tags"
                  list="tagsList"
                  data-for="updatesTagsContainer"
                  placeholder="Добавьте теги, разделяя их нажатием Enter"
                />
              </div>
              <div class="tagsContainer mb-3" id="updatesTagsContainer">
              </div>
              <button type="submit" id="applyFilterBtn" class="btn btn-primary btn-sm">
                Применить
              </button>
              <button
                type="button"
                class="btn btn-secondary btn-sm"
                id="resetFilterBtn"
              >
                Сбросить фильтр
              </button>
            </form>
          </div>
        </nav>

        <main class="mainView col-md-9 ms-sm-auto col-lg-8 px-md-4">

        </main>
      </div>
    </div>
{% endblock %}

{% block after_footer_contents %}
    <div id="filterContent" class="d-none">
      <form>
        <div class="mb-3">
          <label for="tags" class="form-label">Теги</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="tags"
            list="tagsList"
            placeholder="Добавьте теги, разделяя их запятыми"
          />
        </div>
        <div id="selectedTags" class="mb-3">
          <span class="badge bg-primary"
            >Магистрант <i class="ri-close-line"></i
          ></span>
        </div>
        <button type="button" class="btn btn-primary btn-sm" id="applyBtn">
          Применить
        </button>
        <button type="button" class="btn btn-secondary btn-sm" id="resetBtn">
          Сбросить фильтр
        </button>
      </form>
    </div>
{% endblock %}